

body{
    margin: 0 auto;
}
.container{
    background: white;
    width: 55%;
    text-align: center;
    margin: 4em 20em 2em;
    border-radius: 10px;
    padding: 6em 0;

}
.show{
    display: none;
}
h1{
    background-color:  rgb(174, 0, 255);
    display: inline;
    padding: 10px;
    border-radius: 20px;
    color: white;
} 
h2, h3{
    color: rgb(174, 0, 255);
    margin-top: 1em;
}
p{
    color: rgb(201, 157, 198);
    font-size: larger;
}
.score{
    display: flex;
    margin: 0 20em;
    gap: 2em;
}
button{
    color: white;
    background-color: rgb(174, 0, 255);
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
    margin: 5px;
}
button:hover{
    background-color: rgb(201, 157, 198);
}

